<mat-toolbar color="primary">
  <span>Gerenciamento do Veiculo </span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Lista de Veiculos cadastrados</mat-card-title>
  </mat-card-header>
  <div class="botao">
  <br>
  <button class="btn btn-primary" (click)="openForm()">Adicionar Veiculos +</button>
  <br>
  <br>
</div>

  <mat-card-content>
    <mat-table [dataSource]="vehicles" class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="chassi">
        <mat-header-cell *matHeaderCellDef>Chassi</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.chassi}}</mat-cell>
      </ng-container>


      <ng-container matColumnDef="marca">
        <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.marca}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <mat-header-cell *matHeaderCellDef>Modelo</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.modelo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="placa">
        <mat-header-cell *matHeaderCellDef>Placa</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.placa}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="ano">
        <mat-header-cell *matHeaderCellDef>Ano</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ano}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="renavam">
        <mat-header-cell *matHeaderCellDef>Renavam</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.renavam}}</mat-cell>
      </ng-container>


      <!-- Actions Column -->
      <ng-container matColumnDef="Ações">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button (click)="editVehicle(element)">Editar</button>
          <button mat-button color="warn" (click)="deleteVehicle(element.id)">Deletar</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
<br>

